@media screen and (max-width: 680px) {


    header{
        border-radius: 0px 0px 30px 30px;
    }

    .especialidades{
        border-radius: 0px 0px 30px 30px;
    }

    .menu { 
        display: none; 
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: flex-start; width: 100%; box-shadow: none;
    }

    .menu.active { 
        display: flex;  
    } 
        
    .menu-toggle { 
        display: block; 
    }

    .lista { 
        flex-direction: column; 
        width: 100%; 
        padding: 0; 
    } 

    li { 
        margin: 0; 
        border-bottom: 1px solid #ddd; 
        width: 100%; 
        text-align: center; 
    } 

    .pg a {
        width: 100%; 
        box-shadow: none; 
        border: none; 
        border-radius: 0;
    }
}