@charset"UTF-8";

*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Sora' , sans-serif;
}

@font-face{
    font-family: 'Sora';
    src: url(../fontes/Sora-VariableFont_wght.ttf);

}

:root{
    --body:#cfd9e2;
    --letra-header:#5766b3;
    --roxo-normal: #6964e2;
    --roxo-light:#102b3e;
    --letra-article:#0d2232;
}

body{
    background-color: var(--body);

}

header{
    background-color:var(--roxo-light);
    height: 250px;
    color: var(--letra-header);
    text-align: center;
}

header h1{
    padding-top: 60px;
    font-size: 2.1em;
}


.conteiner{
    display: flex;
    flex-wrap: wrap;
    background-color: var();
    

}

.projetos{
    flex: 1;
    border-radius: 0% 5% 5% 0%;
    margin: 10px;
}

#projeto1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--roxo-normal)
}

.img-conteiner{
    background: url(../imagens/florest-games.jpg) no-repeat center;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.h1-p{
    flex: 1;
    padding: 10px;
    text-align: justify;
    
}

.h1-p h1{
    text-align: center;
    font-size: 1.7pc;
    padding-bottom: 10px;
}

#projeto1 img{
    padding: 10px;
    height: 150px;
    width: 150px;
}
