@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Sora' , sans-serif;
}

@font-face{
    font-family: 'Sora';
    src: url(../fontes/Sora-VariableFont_wght.ttf);

}

:root{
    --letra: rgb(40, 40, 40);
    --Dii: rgb(205, 205, 205) ;
}



/*Header*/

header{
    background-color: var(--Dii);
    border-radius: 0px 0px 70px 70px;
    text-align: center;
}



/*Header Nav*/

nav{
    background-color: rgb(255, 255, 255);
    position: relative;
}

.menu{
    box-shadow: 1px 1px 6px black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    
}

.lista{
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

a{
    text-decoration:none ;
    color: #000;
}

li{
    transition: 0.4s;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
    margin: 10px;
}


.pg a{
    box-shadow: 1px 1px 6px black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.pg a:hover{
    box-shadow: 1px 1px 6px white;
    border-radius: 20px;
    transition: 0.6s;
    color: white;
    font-weight: bolder;
    background-color: black;
    
}

.menu-toggle { 
    display: none; 
    background: none; 
    border: none; 
    font-size: 30px; 
    cursor: pointer; 
}



/*Header apresentação*/

.apresentacao{
    padding: 20px;
}

.apresentacao h1{
    font-size: 29px;
}

.apresentacao span{
    text-decoration: none;
}

.apresentacao-text{
    font-size: 1px
}

.foto-perfil img{
    border: 2px solid rgb(174, 174, 174);
    border-radius: 50% ;
    height: 150px;
    width: 150px;
}

.foto-perfil{
    animation: flutuar 3s ease-in-out infinite;
    
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


.redesocial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiktok img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.github img{
    height: 50px;
    width: 50px;
}

/*Especialidades*/

.especialidades{
    display: flex;
    border-radius: 0px 0px 90px 90px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.especialidades h1{
    font-size: 20px;
}

.icones-tr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon{
    cursor: pointer;
    text-align: center;
    margin: 20px;
}

.icon p{
    font-size: 15px;
    font-weight: bolder;
}

.icon img{
    width: 80px;
}

/*Projetos*/

span{
    text-decoration: underline;
}

.projetos-icons{
    background-color: var(--Dii);
}

.meus-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.meus-projetos > h1 {
    font-size: 2.1pc;
}

.conteiner{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.projetos{
    margin: 10px;
    background-color: var(--Dii);
    border: 2px solid #000;
    width: 340px; 
    height: 400px;
    border-radius: 0px 0px 20px 20px; 
    box-shadow: 1px 1px 6px black;
}

.projetos h1, p{
    text-align: center;
    padding-top: 10px;
}

.projetos:hover{
    transform: scale(1.05);
    transition: .6s;
}

.projetos img{
    width: 340px;
    height: 230px;
    border-radius: 0px 0px 10px 10px; 
}

.projetos h1{
    font-size: 1.4pc;
}



/*Sobre mim*/

.sobre{
    display: flex;
    background-color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 70px 70px 0px 0px ;
    
}

.sobre h1{
    padding: 20px;
    font-size: 35px;
    
}

.sobre p{
    padding: 20px;
    text-align: justify;
}

.biografia{
    margin: 15px;
}


/*Botões*/

.deploy {
    margin: 5px;
    text-align: center;
}

button{
    cursor: pointer;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    transition: 0.4s;
    border: 1px solid #000;
}

button:hover{
    box-shadow: 1px 1px 7px black;
}

.linha{
    border: 1px solid rgba(0, 0, 0, 0.342);
    margin: 0px 10px ;
}

/*Footer*/

footer{
    background-color: var(--Dii);
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    color: var(--letra);
    border-radius: 40px 40px 0px 0px ;
}

footer a{
    text-decoration: underline;
    font-weight: bolder;
}

footer div{
    padding: 10px;
}