@charset"UTF-8";

*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Sora' , sans-serif;
}

@font-face{
    font-family: 'Sora';
    src: url(../fontes/Sora-VariableFont_wght.ttf);

}

:root{
    --body:#cfd9e2;
    --letra-header:#5766b3;
    --roxo-normal: #6964e2;
    --roxo-light:#102b3e;
    --letra-article:#0d2232;
}

h1,p{
    color:#000000;
}

p{
    
    text-align: justify;
}

body{
    background-color: var(--body);
}

header{
    background-color:var(--roxo-light);
    height: 250px;
    color: var(--letra-header);
    text-align: center;
}

header h1{
    padding-top: 60px;
    font-size: 2.1em;
}


.conteiner{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient( to bottom right, var(--letra-article) 30% , var(--roxo-normal) 75%);

}

.projetos{
    flex: 1;
    margin: 10px;
    background-color: #ffffff25;
    backdrop-filter: blur(4px);
    padding: 20px ;
    border-radius: 5%;
}

#projeto1{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column ;
    align-items: center;
    text-align: center;
}

.img-conteiner{
    background: url(../imagens/florest-games.jpg) no-repeat center;
    border-radius: 50%;
    background-size: cover;
    width: 250px;
    height: 250px
}


/*
    Projeto 2
*/

#projeto2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.img-conteiner2{
    background: url(../imagens/cordel-moderno.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.proj2{
    padding: 10px;
}

.proj2 h1{
    font-size: 1.7pc;
}